body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.image01 {
    width: 400px;
    height: 300px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
}

.tittle {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.right-lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
    margin-right: 100px;
}

.second-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    height: 400px;
    align-items: flex-start;
    gap: 8px;
}

.second-text {
    margin-left: 100px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.image-placeholder {
    margin-right: 100px;
}

.main-button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #3882F6;
    color: #F9FAF8;
    padding-right: 12px;
    padding-left: 12px;
}

.third-section {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 300px;
    align-items: center;
    gap: 8px;
}

.third-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.four-piece {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-evenly;
    padding-top: 16px;
}

.fourth-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0 20px;
    text-align: center;
}

.fourth-section-text {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    max-width: 800px;
    margin: 0 auto;
    padding-top:50px;
    text-align: center;
}

.quote {
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    padding-bottom: 50px;
    text-align: right;
}

.fifth-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0 20px;
    text-align: center;
}

.call-out-box {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 20px 40px;          /* Less padding on sides */
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    gap: 16px;                   /* Optional: space between text and button */
    justify-content: space-between;
    align-items: center;
}


.fifth-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align text to the left */
    flex-grow: 1;             /* Let text take up remaining space */
}

.fifth-text p {
    margin: 4px;
}

.call-action {
    font-size: larger;
    font-weight: bold;
}

.call-out-button {
    background-color: #3882F6;
    border-color: #F9FAF8;
    white-space: nowrap;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}